.swiper {
    margin: 5px 0;
    width: 100%;
}

.swipersIndicator {
    height: 100%;
    width: 2px;
    position: absolute;
    background-color: lime;
}

.swiperSlide {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    padding: 5px 0px;
    border-radius: 50px;
    height: 30px;
    border: solid 0px var(--palette-300);
    transition: background-color 0.2s ease, border 0.2s ease, font-weight 0.2s ease;
}

.selectedSlide {
    font-weight: 600 !important;
    background-color: var(--palette-100) !important;
    border: solid 1px var(--palette-300) !important;
}