@keyframes aboutIn {
    0% {
        opacity: 0;
        transform: translateY(5vh);
        /* scale: .98; */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        /* scale: 1; */
    }
}

@keyframes aboutOut {
    0% {
        opacity: 1;
        transform: translateY(0);
        /* scale: 1; */
    }
    100% {
        opacity: 0;
        transform: translateY(5vh);
        /* scale: .98; */
    }
}

.exitAnimation {
    animation: aboutOut 0.3s forwards ease !important;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 104;
    position: fixed;
    background-color: var(--palette-50);
    animation: aboutIn 0.3s forwards ease;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--palette-950);
    margin: 20px;
    margin-top: 95px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}

.grid > *:nth-child(odd) {
    justify-self: start;
}

.grid > *:nth-child(even) {
    justify-self: end;
    margin: 5px 0;
}

.label {
    font-size: 20px;
    font-weight: 400;
    color: var(--palette-950);
    margin: 0;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.sectionTitle {
    font-size: 22px;
    color: var(--palette-950);
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
}

.linksContainer {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}