.eventsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    padding-top: 2px;
    gap: 8px;
    width: 90%;
    height: 100%;
    overflow-y: scroll;   
    border-radius: 12px;
}

.noEventsLabel {
    margin: auto 10px;
    font-weight: 300;
}