@keyframes settingsIn {
    0% {
        opacity: 0;
        transform: translateY(5vh);
        /* scale: .98; */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        /* scale: 1; */
    }
}

@keyframes settingsOut {
    0% {
        opacity: 1;
        transform: translateY(0);
        /* scale: 1; */
    }
    100% {
        opacity: 0;
        transform: translateY(5vh);
        /* scale: .98; */
    }
}

.animationOut {
    animation: settingsOut 0.3s forwards ease !important;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 104;
    position: fixed;
    background-color: var(--palette-50);
    animation: settingsIn 0.3s forwards ease;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--palette-950);
    margin: 20px;
    margin-top: 95px;
    margin-bottom: 20px;
}

.newTimetableBtnContainer {
    Button {
        margin: 10px 20px;
    }
}

.timetableSettingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 60px);
    margin: 0 20px;
    padding: 20px 10px 10px 10px;
    border-radius: 22px;
    background-color: rgba(var(--palette-100-rgb), 0.3);
    border: solid 1px var(--palette-200);
}

.classSelectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    h4 {
        font-weight: 400;
        font-size: 22px;
    }
}

.settingsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: calc(100% - 20px);
    margin: 10px 20px;
    input {
        background-color: var(--palette-100);
    }
}

.settingsGrid > *:nth-child(odd) {
    justify-self: start;
}

.settingsGrid > *:nth-child(even) {
    justify-self: end;
    margin: 5px 0;
}

.settingLabel {
    font-size: 20px;
    font-weight: 400;
    color: var(--palette-950);
    margin: 0;
    height: 42px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.dayTimeSelectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
    span {
        font-weight: 400;
        font-size: 20px;
        color: var(--palette-900);
    }
}

.bottomButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 5px;
    Button {
        margin: 0;
    }
    .destructiveBtns {
        display: flex;
        gap: 5px;
    }
}

@keyframes animationOpen {
    from {
        opacity: 0;
        scale: .9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes animationClose {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: .9;
    }
}

.animationClose {
    animation: animationClose 0.2s forwards ease !important;
}

.eraseContainer {
    z-index: 120;
    position: fixed;
    top: 45%;
    left: 50%;
    width: calc(90% - 40px);
    transform: translateX(-50%) translateY(-45%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--palette-100);
    border: solid 1px var(--palette-300);
    border-radius: 22px;
    gap: 20px;
    animation: animationOpen 0.2s ease forwards;

    Button {
        margin: 0 0;
    }
}

.eraseLabel {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

.timetablesLayoutTitle {
    margin: 20px 0 10px 20px;
    text-align: start;
    font-size: 24px;
    color: var(--palette-950);
}

.boxLayoutSettingsContainer {
    background-color: rgba(var(--palette-100-rgb), 0.3);
    border: solid 1px var(--palette-200);
    width: calc(100% - 40px);
    margin: 10px auto;
    border-radius: 22px;
    overflow: hidden;
}

.mainPropertyContainer {
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    div select {
        font-weight: 500;
        text-align: center;
    }
}

.otherPropsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 10px 0;
    margin: 10px auto;
    width: calc(100% - 20px);
}

.otherPropsGrid > *:nth-child(odd) {
    justify-self: start;
}

.otherPropsGrid > *:nth-child(even) {
    justify-self: end;
}
