@keyframes animationOpen {
    from {
        opacity: 0;
        scale: 1.2;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes animationClose {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 1.1;
    }
}

.animationClose {
    animation: animationClose 0.20s ease !important;
}

.container {
    z-index: 111;
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: calc(80% - 40px);
    min-height: 150px;
    height: fit-content;
    background-color: var(--palette-50);
    border: solid 1px var(--palette-200);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    animation: animationOpen 0.3s ease forwards;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    text-wrap: wrap;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.donateImg {
    width: 32px;
    border-radius: 12px;
}

.subtitle {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0 0 0;
}

.choicesContainer {
    display: flex;
    gap: 10px;
    margin: 30px 0 0 auto;
}
