.box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 22px;
    background-color: var(--palette-100);
    border: solid 1px var(--palette-300);
    overflow: hidden;
}

.boxTitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--palette-950);
}