.icon360Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--palette-800);
    font-weight: 400;
    opacity: 0.9;
}

.icon360 {
    font-size: 28px;
    margin: 0 10px;
}

.versionLabel {
    margin: 40px 20px;
}