.title {
    font-size: 28px;
    text-align: center;
}

.smallBoxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    gap: 15px;
}