/* ThemeToggle.module.css */
.buttonsContainer {
    position: relative;
    padding: 5px;
    margin: 0;
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    z-index: 5;
}

.buttonsContainer Button {
    margin: 0px !important;
    width: 32px !important;
    height: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.buttonsContainer Button span {
    width: 22px !important;
    height: 22px !important;
    font-size: 22px !important;
    z-index: 10;
}

.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: var(--palette-100);
    border: solid 1px var(--palette-200);
    border-radius: 16px;
}

.indicator {
    position: absolute;
    top: 5px;
    left: 42px;
    width: 32px;
    aspect-ratio: 1 / 1;
    z-index: 1;
    background-color: var(--palette-300);
    border-radius: 12px;
    transition: .15s cubic-bezier(0.18, 0.90, 0.50, 1.275) transform;
}