@keyframes settingsIn {
    0% {
        opacity: 0;
        transform: translateY(5vh);
        /* scale: .98; */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        /* scale: 1; */
    }
}

@keyframes settingsOut {
    0% {
        opacity: 1;
        transform: translateY(0);
        /* scale: 1; */
    }
    100% {
        opacity: 0;
        transform: translateY(5vh);
        /* scale: .98; */
    }
}

.exitAnimation {
    animation: settingsOut 0.3s forwards ease !important;
}

.container {
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 104;
    background-color: var(--palette-50);
    /* animation: settingsIn 0.3s forwards ease; */
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--palette-950);
    margin: 20px;
    /* margin-top: 95px; */
    margin-bottom: 20px;
}

.settingsSection {
    margin: 30px 20px;
}

.sectionTitle {
    font-size: 22px;
    color: var(--palette-950);
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.schDataLabel {
    font-size: 16px;
    font-weight: 300;
    color: var(--palette-900);
    margin-top: -5px;
}

.textAreaLabel {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: start;
}

.settingsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 5px 0;
}

.settingsGrid > *:nth-child(odd) {
    justify-self: start;
}

.settingsGrid > *:nth-child(even) {
    justify-self: end;
    margin: 5px 0;
}

.settingLabel {
    font-size: 20px;
    font-weight: 400;
    color: var(--palette-950);
    margin: 0;
    height: 42px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.themeSelectorBtnContainer {
    margin: 0;
    Button {
        background-color: var(--palette-100);
        border: solid 1px var(--palette-200);
        margin: 0;
        flex-direction: row-reverse;
        transition: scale .15s ease;
        font-weight: 300;
        span {
            margin-left: 10px;
            margin-right: 0;
        }
    }
    Button:active {
        background-color: var(--palette-100);
    }
}

.customLinkContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 120%;
}

.customLinkContainer button {
    margin: 0;
}

.customLinkContainer input {
    height: calc(100% - 20px);
}