.navbarContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    background-color: var(--palette-100);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 1px var(--palette-300);
}