@keyframes animationOpen {
    from {
        opacity: 0;
        scale: 1.2;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes animationClose {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 1.1;
    }
}

.animationClose {
    animation: animationClose 0.20s ease !important;
}

.container {
    z-index: 111;
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: calc(80% - 40px);
    min-height: 150px;
    height: fit-content;
    background-color: var(--palette-50);
    border: solid 1px var(--palette-200);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    animation: animationOpen 0.3s ease forwards;
}

.title {
    text-align: center;
    font-weight: 600;
    margin: 5px 0;
}

.versionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.version {
    padding: 5px 10px;
    border-radius: 12px;
}

.version:first-child {
    opacity: 0.9;
    font-weight: 300;
    background-color: var(--palette-100);
}

.version:last-child {
    font-weight: 400;
    background-color: var(--palette-200);
    margin-left: 3px;
}

.actionsContainer {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    Button {
        margin: 0;
    }
}

.bobbo {
    color:  hsl(120, 18%, 97%);
    color:  hsl(111, 24%, 89%);
    color:  hsl(111, 24%, 78%);
    color:  hsl(111, 23%, 64%);
    color:  hsl(114, 19%, 50%);
    color:  hsl(115, 24%, 40%);
    color:  hsl(116, 25%, 32%);
    color:  hsl(116, 23%, 26%);
    color:  hsl(117, 21%, 22%);
    color:  hsl(116, 18%, 19%);
    color:  hsl(120, 25%, 3%);
    
    color: hsl(120, 25%, 3%);
    color: hsl(120, 17%, 9%);
    color: hsl(115, 21%, 12%);
    color: hsl(114, 23%, 16%);
    color: hsl(116, 25%, 22%);
    color: hsl(115, 24%, 30%);
    color: hsl(115, 19%, 40%);
    color: hsl(111, 23%, 54%);
    color: hsl(111, 24%, 68%);
    color: hsl(113, 23%, 79%);
    color: hsl(120, 18%, 87%);
}