.swipers {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper dir {
    transform: translate3d(0, 0, 0) !important;
}

.setTimeAndDayLabel {
    text-align: center;
    margin: 10px 0;
}

.matesLabel {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    line-height: 0.5;
    margin-bottom: 20px;
}