.switchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.tabName {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: var(--palette-900);
    width: 50%;
    margin: 10px 0;
    transition: 0.15s ease;
}

.selectedTabName {
    font-weight: 600;
    color: var(--palette-950);
}

.pill {
    position: absolute;
    height: 5px;
    background-color: var(--palette-300);
    bottom: 0;
    border-radius: 20px 20px 0 0;
    width: 25%;
    left: 37.5%;
    transform: translateX(-100%);
    transition: 0.15s ease transform;
}

.pillEvents {
    transform: translateX(-100%);
}

.pillHomework {
    transform: translateX(100%);
}

.container {
    /* background-color: var(--palette-100); */
    /* border: solid 1px var(--palette-300); */
    border-radius: 12px;
    width: 100%;
    margin: 0 0;
    min-height: 50px;
    overflow: hidden;
    opacity: 0;
}

.appearLeft {
    animation: appearLeft 5.3s ease forwards;
}

.appearRight {
    animation: appearRight 5.3s ease forwards;
}

.disappear {
    animation: disappear 0.3s ease forwards;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appearLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes appearRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}