body {
    background-color: var(--palette-50);
    margin: 0;
    color: var(--palette-900);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    user-select: text;
}

::selection {
    background-color: var(--palette-300);
}

.appContainer {
    display: flex;
    background-color: red;
    height: 100%;
    width: 100%;
}