@media (min-width: 769px) {
    body {
        visibility: hidden;
    }
}

body {
    background-color: var(--palette-200);
    margin: 0;
    color: var(--palette-900);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    user-select: text;
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection {
    background-color: var(--palette-300);
}

.appContainer {
    background-color: var(--palette-50);
    position: fixed;
    margin: 10px 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding: 10px 0;
    z-index: 3;
    top: 57px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.placeholder {
    height: 85px;
    width: 100%;
    background-color: transparent;
}