.barContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    height: 5px;
}

.bar {
    height: 5px;
    background-color: var(--palette-200);
    border-radius: 2px;
    margin: 0 2px;
    width: 100%;
}

.barActive {
    background-color: var(--palette-400);
}