.container {
    background-color: var(--palette-100);
    border: solid 1px var(--palette-300);
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 22px;
    margin: 10px auto;
}