.container {
    background-color: var(--palette-100);
    border: solid 1px var(--palette-300);
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 22px;
    margin: 10px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.statsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    margin: 10px 20px;
    gap: 5px;
}

.latestGradesLabel {
    margin: 10px 0 0 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}