.swiper {
    margin: 10px auto;
    width: 90%;
    overflow: hidden;
    border-radius: 22px;
}

.swiperSlide {
    border-radius: 22px;
}

.container {
    background-color: var(--palette-100);
    border: solid 1px var(--palette-300);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 22px;
    background: linear-gradient(135deg, var(--palette-300), var(--palette-100), var(--palette-300));
    background-size: 400% 400%;
    margin: 0;
    position: relative;
    box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    animation: shinyEffect 5s linear infinite;
}

.statsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    margin: 10px 20px;
    gap: 10px;
}

.sectionLabel {
    margin: 10px 0 0 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.elementPlchd {
    opacity: 0;
}

.backDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(135deg, var(--palette-400), var(--palette-300), var(--palette-200), var(--palette-300), var(--palette-400));
    border: solid 1px var(--palette-500);
    background-size: 400% 400%;
    border-radius: 22px;
    animation: shinyEffect 5s linear infinite;
}

@keyframes shinyEffect {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.backLabel {
    font-size: 20px;
    font-weight: 300;
    margin: 30px 15%;
    text-align: center;
    word-break: break-all;
    color: var(--palette-950);
}

.btnContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    Button {
        margin: 10px 5px;
    }
}

.pokeStreak {
    width: 50%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.pokeStreakLabel {
    color: var(--palette-950);
    font-weight: 400;
    margin: 10px 0 20px 0;
}