@keyframes menuIn {
    0% {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes menuOut {
    0% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }
}

.container {
    position: fixed;
    min-width: 50px;
    min-height: 100px;
    background-color: var(--palette-50);
    border: solid 1px var(--palette-300);
    z-index: 102;
    top: 12.5px;
    left: auto;
    right: calc(5% + 5px);
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    animation: menuIn 0.3s;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--palette-950);
    font-size: 20px;
    padding: 10px;
    transition: 0.1s ease all;
}

.button:active {
    background-color: var(--palette-100);
}

.button span {
    font-size: 22px;
    display: flex;
    padding-right: 10px;
}