@keyframes menuIn {
    0% {
        transform: translateY(-5%);
        clip-path: inset(0 0 40% 0 round 15px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        clip-path: inset(0 0 0 0 round 15px);
        opacity: 1;
    }
}

@keyframes menuOut {
    100% {
        transform: translateY(-10%);
        clip-path: inset(0 0 40% 0 round 15px);
        opacity: 0;
    }
    0% {
        transform: translateY(0%);
        clip-path: inset(0 0 0 0 round 15px);
        opacity: 1;
    }
}

.menuOut {
    animation: menuOut 0.15s ease forwards !important;
}

.container {
    position: fixed;
    min-width: 50px;
    min-height: 50px;
    background-color: var(--palette-50);
    border: solid 1px var(--palette-300);
    z-index: 106;
    top: 12.5px;
    left: auto;
    right: calc(5% + 5px);
    border-radius: 15px;
    padding: 5px 0;
    /* box-shadow: 0 0 15px rgba(0,0,0,0.25); */
    animation: menuIn 0.2s ease;
}

.button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: var(--palette-950);
    font-size: 20px;
    padding: 10px;
    transition: 0.1s ease all;
}

.button:active {
    background-color: var(--palette-100);
}

.button span {
    font-size: 22px;
    display: flex;
    padding-right: 10px;
}